/* =========================
   Navbar
========================= */

.navbar {
    padding: 0;
    background-color: var(--color-white);
    transition: all 0.3s ease;
    z-index: 1000;
    position: sticky !important;
    top: 0;
}

.navbar .container {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 70px;
}


/* =========================
   Bottom Border
========================= */

.navbar .container::after {
    content: "";

    position: absolute;

    width: calc(100% - 24px);
    height: 100%;

    top: 0;
    left: 12px;

    border-bottom: 2px solid var(--color-primary);

    z-index: -1;
}


/* =========================
   Logo
========================= */

.navbar .logo-link {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
}

.navbar .logo {
    height: 58px;
    width: auto;
}

/* @media (min-width: 992px) {
    .navbar .logo-link{
        margin-inline-end: 60px;
    }
} */

/* =========================
   Navigation
========================= */

.navbar .navbar-collapse {
    flex: 1;
    justify-content: start;
    padding: 0 60px;
}

.navbar .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;

    margin: 0;
    padding: 0;
}

.navbar .nav-item {
    padding: 8px 12px;
    margin: 0;

    border-radius: 12px;

    white-space: nowrap;

    transition: all 0.3s ease;
}

.navbar .nav-link {
    color: var(--text-dark);

    padding: 0;

    transition: all 0.3s ease;
}

/* =========================
   Active + Hover Update
========================= */

.navbar nav .nav-item:hover,
.navbar nav .nav-item:has(.nav-link.active) {
    border-radius: 12px;
    background: rgba(151, 190, 244, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar nav .nav-item:hover .nav-link,
.navbar nav .nav-item .nav-link.active {
    color: var(--color-primary);
    font-weight: 800;
}


/* =========================
   Contact
========================= */

.navbar .connect {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.navbar .connect ul {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar .connect .itme-connect {
    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;

    border-radius: 12px;

    background-color: var(--color-secondary-blue);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.navbar .connect .itme-connect a,
.navbar .connect .itme-connect button {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    border: none;
    background: transparent;

    color: var(--text-primary);
}

/* Icons */
.navbar .connect .itme-connect a i {
    font-size: 17px;
}

/* Language */
.navbar .connect .itme-connect button {
    font-size: 15px;
    font-weight: 800;
}

/* WhatsApp */
.navbar .connect .whatsApp {
    background-color: #58d811;
}

/* =========================
   Toggler
========================= */

.navbar .navbar-toggler {
    display: none;
    border: 1px solid var(--color-primary);
    padding: 7px;
    border-radius: 10px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2354ACF9' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5em;
    height: 1.5em;
}

/*============================
   Media Queries  
============================*/

@media (min-width: 992px) {
    .navbar .navbar-collapse {
        display: flex !important;
    }
}

@media (max-width: 991.98px) {
    .navbar .navbar-collapse {
        padding: 0;
    }
    .navbar .container {
        min-height: 70px;
    }

    .navbar .logo {
        height: 50px;
    }

    /* Toggler - Right */

    .navbar .navbar-toggler {
        display: block;
        order: 3;
    }


    /* Contact - Between Logo and Toggler */

    .navbar .connect {
        flex: 1;
        order: 2;
        padding: 0 10px;
    }


    /* Navigation */

    .navbar .navbar-collapse {
        order: 4;

        flex-basis: 100%;
        width: 100%;

    }


    .navbar .navbar-links {
        flex-direction: column;

        align-items: stretch;

        width: 100%;

        padding: 10px 0;
    }


    .navbar .nav-item {
        width: 100%;

        margin: 0;

        padding: 12px 20px;
    }


    /* Contact spacing */

    .navbar .connect .itme-connect {
        width: 37px;
        height: 37px;
    }

}
@media (max-width: 786px) {

    /* Toggler - Right */

    .navbar .navbar-toggler {
        display: block;
        order: 3;

    }
    .navbar .logo {
        height: 45px;
    }
    .navbar .connect {
        padding: 0 8px;
    }
    .navbar .connect ul {
        gap: 5px;
    }
    .navbar .connect .itme-connect {
        width: 33px;
        height: 33px;
    }

    .navbar .connect .itme-connect button {
        font-size: 11px;
    }

    .navbar .connect .itme-connect a i {
        font-size: 13px;
    }
    .navbar .navbar-toggler-icon {
        width: 1.1em;
        height: 1.1em;
    }
}